# Node.js dependencies
node_modules/
package-lock.json

# IDE-specific ignores
.vscode/
.idea/
*.code-workspace
*.sublime-*
*.swp
*.swo
*.komodoproject
*.komodotools
*.kpf
*.komodotool

# Text editor ignores
*~
*.bak
*.tmp
*.temp

# OS-specific ignores
.DS_Store
Thumbs.db

